/.vs/VV_Lab_1/v16/.suo
/.vs/VV_Lab_1/v16/Browse.VC.db
/.vs/VV_Lab_1/v16/Browse.VC.db-shm
/.vs/VV_Lab_1/v16/Browse.VC.db-wal
/.vs/VV_Lab_1/v16/Browse.VC.opendb
/.vs/VV_Lab_1/v16/ipch/AutoPCH/30af46cacc46e6c3/MAIN.ipch
/.vs/VV_Lab_1/v16/ipch/AutoPCH/80a6a00e559476e/MAIN.ipch
/.vs/VV_Lab_1/v16/ipch/AutoPCH/916efbee76dd62a9/MAIN.ipch
/~$Result.xlsx
/x64/Release/main.obj
/x64/Release/vc142.pdb
/x64/Release/VV_Lab_1.Build.CppClean.log
/x64/Release/VV_Lab_1.exe.recipe
/x64/Release/VV_Lab_1.iobj
/x64/Release/VV_Lab_1.ipdb
/x64/Release/VV_Lab_1.log
/x64/Release/VV_Lab_1.pdb
/x64/Release/VV_Lab_1.tlog/CL.command.1.tlog
/x64/Release/VV_Lab_1.tlog/CL.read.1.tlog
/x64/Release/VV_Lab_1.tlog/CL.write.1.tlog
/x64/Release/VV_Lab_1.tlog/link.command.1.tlog
/x64/Release/VV_Lab_1.tlog/link.read.1.tlog
/x64/Release/VV_Lab_1.tlog/link.write.1.tlog
/x64/Release/VV_Lab_1.tlog/VV_Lab_1.lastbuildstate
/x64/Release/VV_Lab_1.tlog/VV_Lab_1.write.1u.tlog
/x64/Release/VV_Lab_1.vcxproj.FileListAbsolute.txt
